# Python / cocotb
.venv/
__pycache__/
*.pyc
sim_build/
results.xml
*.fst
*.vcd

# Yosys
*.blif
*.aig
*_netlist.v

# OpenLane runs
openlane/*/runs/

# GTKWave
*.gtkw

# SymbiYosys
*/formal/*/

# Verilator build outputs
**/build/
**/build_dbg/
**/build_opt/

# Compiled simulation binaries
**/tb/dff_sim
**/tb/build/firmware.dump

# Editor
.vscode/
*.swp
